@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*::before,
*::after {
  box-sizing: border-box;
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.form__wrapper {
  background-color: #faf9f6;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form__wrapper .form {
  flex: 0 1 25rem;
  background-color: #ededed;
  padding: 1.25rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0.125rem 0.125rem #4a4a4a;
  gap: 1rem;
}
.form__wrapper .form__underline {
  width: 100%;
  height: 0.1rem;
  background-color: #4a4a4a;
  margin: 0.625rem 0;
}
.form__wrapper .form__go-to-sign-up, .form__wrapper .form__go-to-login {
  font-size: 1rem;
}
.form__wrapper .form__link-sign-up, .form__wrapper .form__link-to-login {
  font-weight: 500;
  font-size: 1.2rem;
  color: #2a5934;
  padding-left: 0.31rem;
}
.form__wrapper .form__link-sign-up:hover, .form__wrapper .form__link-to-login:hover {
  text-decoration: underline;
}
.form__wrapper .form__forgot-password {
  cursor: pointer;
  transition: all 0.2s ease;
  align-self: flex-start;
  color: #1a2e5f;
}
.form__wrapper .form__forgot-password:hover {
  text-decoration: underline;
}
.form__wrapper .form > .login-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.1s ease;
  background-color: #4a4a4a;
}
.form__wrapper .form > .login-spinner .span-spinner {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 0.25rem solid #4a4a4a;
  border-top: 0.25rem solid #1a1a2e;
  animation: spin 1s linear infinite;
}
.form__wrapper .form > .login-spinner.active-spinner {
  opacity: 1;
  z-index: 2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form__wrapper .form h2 {
  font-size: 2rem;
  padding-bottom: 0.625rem;
  color: #1a2e5f;
  border-bottom: 0.0625rem solid #c0c0c0;
}
.form__wrapper .form input {
  padding: 0.032rem;
  border: 0.0626rem solid #c0c0c0;
  border-radius: 0.32rem;
}
.form__wrapper .form input:focus {
  border-color: #17bebb;
  outline: 0.0625rem solid #17bebb;
}
.form__wrapper .form input.valid {
  border-color: #4caf50;
  outline: 0.0625rem solid #4caf50;
}
.form__wrapper .form input.not-valid {
  border-color: #d32f2f;
  outline: 0.0625rem solid #d32f2f;
}
.form__wrapper .form input::-moz-placeholder {
  font-family: inherit;
}
.form__wrapper .form input::placeholder {
  font-family: inherit;
}
.form__wrapper .form span {
  font-size: 0.0625rem;
}
.form__wrapper .form button {
  transition: all 0.3s ease;
  border: 0.0625rem solid #333333;
  border-radius: 0.31rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  color: #1a2e5f;
  background-color: #ff8c42;
  font-size: 1.25rem;
}
@media (any-hover: hover) {
  .form__wrapper .form button:hover {
    background-color: #f47120;
  }
}
.form__wrapper .form button:active {
  background-color: #ff8c42;
}
.form__wrapper .form .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.form__wrapper .form .buttons-wrapper {
  display: flex;
  gap: 1.25rem;
}
.form__wrapper .form .result-err {
  font-weight: 300;
  color: #d32f2f;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.31rem;
  background-color: rgba(255, 107, 107, 0.5098039216);
}
.form__wrapper .form span.result-input {
  font-size: 0.75rem;
  color: #d32f2f;
  position: relative;
  display: inline;
  padding: 0.31rem;
  border-radius: 0.125rem;
  top: -0.31rem;
  transition: all 0.3s ease;
  background-color: rgba(255, 107, 107, 0.5098039216);
  font-weight: 300;
}

.aside {
  border-right: 1px solid #c0c0c0;
  background-color: #d1d1d1;
  color: #333333;
  display: flex;
  flex-direction: column;
}
.aside__footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.aside .menu__link, .aside .exit-button {
  transition: all 0.3s;
  padding: 0.7rem 1.25rem;
}
.aside .menu__link.active-page, .aside .exit-button.active-page {
  background-color: #b4b4b4;
}
.aside .menu__link:hover, .aside .exit-button:hover {
  background-color: #b4b4b4;
}
.aside .main-title::before {
  content: "";
  width: 100%;
  height: 73px;
  background: url("../img/logo2.jpeg") 0 0/cover no-repeat;
}
.aside .menu {
  display: flex;
  flex-direction: column;
  font-size: 1.56rem;
}
.aside .menu a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.625rem;
}
.aside .menu a::before {
  content: "";
  width: 1.56rem;
  height: 1.56rem;
}
.aside .menu a:nth-child(1)::before {
  background: url("../img/home.svg") 0 0/contain no-repeat;
}
.aside .menu a:nth-child(2)::before {
  background: url("../img/data.svg") 0 0/contain no-repeat;
}
.aside .menu a:nth-child(3)::before {
  background: url("../img/pay.svg") 0 0/contain no-repeat;
}
.aside .menu a:nth-child(4)::before {
  background: url("../img/schedule.svg") 0 0/contain no-repeat;
}
.aside .menu a:nth-child(5)::before {
  background: url("../img/plan.svg") 0 0/contain no-repeat;
}
.aside .menu a:nth-child(6)::before {
  background: url("../img/settings.svg") 0 0/contain no-repeat;
}
.aside .exit-button {
  display: flex;
  align-items: flex-start;
  font-size: 1.56rem;
  gap: 0.31rem;
  padding: 0.625rem 1.25rem;
  width: 100%;
}
.aside .exit-button::before {
  content: "";
  display: block;
  background: url("../img/exit.svg") 0 0/contain no-repeat;
  width: 1.56rem;
  height: 1.56rem;
}
.aside .footer-text {
  font-size: 0.8rem;
  text-align: center;
  line-height: 120%;
  padding: 2rem;
}
.aside .footer-text span {
  font-weight: 500;
  color: #2e3a59;
}

.header {
  border-bottom: 0.062rem solid #c0c0c0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1.6rem;
}
.header h3 {
  font-size: 2.2rem;
}
.header .user-group {
  display: flex;
  align-items: center;
}
.header .user-group > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.header .user-group p {
  text-align: end;
  font-weight: 300;
  font-size: 0.85rem;
}
.header .user-group .image-wrap {
  width: 2.5rem;
  height: 2.5rem;
}
.header .user-group .image-wrap img {
  width: 100%;
  height: 100%;
}

.users-block {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-x: scroll;
  border-right: 0.0625rem solid #c0c0c0;
  padding: 0.3rem;
  max-width: 15.6rem;
  min-width: 13rem;
  flex-grow: 1;
}
.users-block > .wrap-students {
  margin-bottom: 0.7rem;
}
.users-block > .wrap-students > .one-stud {
  padding: 0.7rem;
  font-size: 1.2rem;
  background-color: #e0e0e0;
  font-weight: 500;
  letter-spacing: 0.06rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.users-block > .wrap-students > .one-stud:hover {
  background-color: #d1d1d1;
}
.users-block > .wrap-students > .one-stud.active-stude {
  background-color: #b4b4b4;
}
.users-block > .wrap-buttons-stud {
  display: flex;
  gap: 0.3rem;
}
.users-block > .wrap-buttons-stud .button-cancel-add-student {
  transition: all 0.2s ease;
  opacity: 0;
  display: none;
}
.users-block > .wrap-buttons-stud .button-cancel-add-student.show-btn {
  display: block;
  opacity: 1;
}
.users-block > .wrap-buttons-stud .button-add-student,
.users-block > .wrap-buttons-stud .button-cancel-add-student {
  text-transform: capitalize;
  border: 0.062rem solid #c0c0c0;
  padding: 0.3rem 0.6rem;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: #17bebb;
}
.users-block > .wrap-buttons-stud .button-add-student:hover,
.users-block > .wrap-buttons-stud .button-cancel-add-student:hover {
  opacity: 0.8;
}
.users-block > .wrap-buttons-stud .button-add-student:active,
.users-block > .wrap-buttons-stud .button-cancel-add-student:active {
  opacity: 1;
}
.users-block .input-add-stud {
  display: flex;
}
.users-block .input-add-stud .check-stud {
  padding: 0.3rem;
  background-color: #ff8c42;
}
.users-block .input-add-stud input {
  padding: 0.3rem 0.6rem;
  border: 0.062rem solid #c0c0c0;
}
.users-block .input-add-stud input:focus {
  outline: none;
}
.users-block .input-add-stud > button {
  background-color: #ff8c42;
  transition: all 0.2s ease;
}
.users-block .input-add-stud > button:hover {
  opacity: 0.8;
}
.users-block .input-add-stud > button:active {
  opacity: 1;
}

.infoPage {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.infoPage > .input-student-wrap {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 1250px) {
  .infoPage > .input-student-wrap {
    gap: 0.7rem;
  }
}
.infoPage > .input-student-wrap > label {
  align-self: center;
  min-width: 200px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 1250px) {
  .infoPage > .input-student-wrap > label {
    font-size: 1.25rem;
    min-width: 12.25rem;
  }
}
.infoPage > .input-student-wrap > input {
  background-color: #e0e0e0;
  border-radius: 0.62rem;
  padding: 0.62rem;
  font-size: 1.5rem;
  font-weight: 500;
  flex-grow: 1;
}
.infoPage > .buttons-wrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}
.infoPage > .buttons-wrapper .button-save-info,
.infoPage > .buttons-wrapper .delete-ctudent {
  padding: 0.32rem 1.5rem;
  border-radius: 0.625rem;
  font-size: 1.375rem;
  transition: all 0.2s;
}
.infoPage > .buttons-wrapper .delete-ctudent {
  background-color: #d32f2f;
  color: #ededed;
}
.infoPage > .buttons-wrapper .button-save-info {
  background-color: #b4b4b4;
}
.infoPage > .buttons-wrapper .delete-ctudent:hover,
.infoPage > .buttons-wrapper .button-save-info:hover {
  opacity: 0.8;
}
.infoPage > .buttons-wrapper .delete-ctudent:active,
.infoPage > .buttons-wrapper .button-save-info:active {
  opacity: 1;
}
.infoPage > .successfull-update {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: all 0.4s ease;
  position: absolute;
  opacity: 0;
  top: 5%;
  right: -100%;
  padding: 1.95rem 3.1rem;
  border-radius: 0.625rem;
  background-color: #ededed;
  border: 0.0625rem solid #4caf50;
}
.infoPage > .successfull-update::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/success.svg") 0 0/cover no-repeat;
}
.infoPage > .successfull-update.show-update {
  right: 5%;
  opacity: 1;
  transition: all 0.4s ease;
}
.infoPage > .popup-delete-stud {
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
  opacity: 0.9;
}
.infoPage > .popup-delete-stud.active-popup {
  left: 0;
}
.infoPage > .popup-delete-stud > div {
  background-color: #faf9f6;
  border-radius: 0.625rem;
  padding: 1.95rem;
  display: flex;
  flex-direction: column;
  gap: 1.95rem;
}
.infoPage > .popup-delete-stud > div > div:first-child {
  color: #2e3a59;
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 500;
}
.infoPage > .popup-delete-stud > div > div:last-child {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
}
.infoPage > .popup-delete-stud > div > div:last-child button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: #e0e0e0;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
}
.infoPage > .popup-delete-stud > div > div:last-child button:first-child {
  background-color: #d32f2f;
}
.infoPage > .popup-delete-stud > div > div:last-child button:last-child {
  background-color: #1a2e5f;
}
.infoPage > .popup-delete-stud > div > div:last-child button:first-child:hover, .infoPage > .popup-delete-stud > div > div:last-child button:last-child:hover {
  opacity: 0.8;
}
.infoPage > .popup-delete-stud > div > div:last-child button:first-child:active, .infoPage > .popup-delete-stud > div > div:last-child button:last-child:active {
  opacity: 1;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  display: flex;
}

.wrapper {
  flex-grow: 1;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
.wrapper .login-spinner {
  transition: all 0.1s ease;
  position: absolute;
  bottom: 5%;
  right: -100%;
  z-index: 4;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: #ededed;
  color: #4caf50;
  border: 0.07rem solid #4caf50;
  box-shadow: 0.2rem 0.2rem 0.2rem #d1d1d1;
}
.wrapper .login-spinner.active {
  right: 5%;
}

.main-wrapper {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  color: #4a4a4a;
  background-color: #faf9f6;
  display: flex;
}

.main-content {
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex-grow: 1;
  background-color: #faf9f6;
}
@media (max-width: 1250px) {
  .main-content {
    padding: 1.3rem;
  }
}
@media (max-width: 1050px) {
  .main-content {
    padding: 0.7rem;
  }
}

.users-content {
  height: 100%;
  display: flex;
}

.users-info {
  padding: 1.2rem;
  overflow-x: auto;
  max-height: 80vh;
  flex-grow: 1;
}/*# sourceMappingURL=style.css.map */