.aside {
	border-right: 1px solid $border-color;
	background-color: $aside-bk-color-2;
	color: $text-color-2;
	//max-width: 250px;
	display: flex;
	flex-direction: column;
	&__footer {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	& .menu__link,
	& .exit-button {
		transition: all 0.3s;
		padding: 0.7rem 1.25rem;
		&.active-page {
			background-color: $active-link;
		}
		&:hover {
			background-color: $active-link;
		}
	}
	& .main-title {
		&::before {
			content: "";
			width: 100%;
			height: 73px;
			background: url("../img/logo2.jpeg") 0 0 / cover no-repeat;
		}
	}
	& .menu {
		display: flex;
		flex-direction: column;
		font-size: 1.56rem;
		& a {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			gap: 0.625rem;
			&::before {
				content: "";
				width: 1.56rem;
				height: 1.56rem;
			}
		}
		& a:nth-child(1) {
			&::before {
				background: url("../img/home.svg") 0 0 / contain no-repeat;
			}
		}
		& a:nth-child(2) {
			&::before {
				background: url("../img/data.svg") 0 0 / contain no-repeat;
			}
		}
		& a:nth-child(3) {
			&::before {
				background: url("../img/pay.svg") 0 0 / contain no-repeat;
			}
		}
		& a:nth-child(4) {
			&::before {
				background: url("../img/schedule.svg") 0 0 / contain no-repeat;
			}
		}
		& a:nth-child(5) {
			&::before {
				background: url("../img/plan.svg") 0 0 / contain no-repeat;
			}
		}
		& a:nth-child(6) {
			&::before {
				background: url("../img/settings.svg") 0 0 / contain no-repeat;
			}
		}
	}
	& .exit-button {
		display: flex;
		align-items: flex-start;
		font-size: 1.56rem;
		gap: 0.31rem;
		padding: 0.625rem 1.25rem;
		width: 100%;
		&::before {
			content: "";
			display: block;
			background: url("../img/exit.svg") 0 0 / contain no-repeat;
			width: 1.56rem;
			height: 1.56rem;
		}
	}
	& .footer-text {
		font-size: 0.8rem;
		text-align: center;
		line-height: 120%;
		padding: 2rem;
		& span {
			font-weight: 500;
			color: $strong-color-1;
		}
	}
}
