.form__wrapper {
	background-color: $base-background-1;
	min-height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	& .form {
		flex: 0 1 25rem;
		background-color: $base-background-3;
		padding: 1.25rem;
		border-radius: 0.625rem;
		display: flex;
		flex-direction: column;
		box-shadow: 0rem 0.125rem 0.125rem $text-color-1;
		gap: 1rem;
		&__underline {
			width: 100%;
			height: 0.1rem;
			background-color: $text-color-1;
			margin: 0.625rem 0;
		}
		&__go-to-sign-up,
		&__go-to-login {
			font-size: 1rem;
		}
		&__link-sign-up,
		&__link-to-login {
			font-weight: 500;
			font-size: 1.2rem;
			color: $strong-color-3;
			padding-left: 0.31rem;
			&:hover {
				text-decoration: underline;
			}
		}
		&__forgot-password {
			cursor: pointer;
			transition: all 0.2s ease;
			align-self: flex-start;
			color: $strong-color-2;
			&:hover {
				text-decoration: underline;
			}
		}
		& > .login-spinner {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 0;
			transition: all 0.1s ease;
			background-color: $text-color-1;
			& .span-spinner {
				display: block;
				width: 3.75rem;
				height: 3.75rem;
				border-radius: 50%;
				border: 0.25rem solid $text-color-1;
				border-top: 0.25rem solid $aside-bk-color-3;
				animation: spin 1s linear infinite;
			}
			&.active-spinner {
				opacity: 1;
				z-index: 2;
			}
		}
		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		& h2 {
			font-size: 2rem;
			padding-bottom: 0.625rem;
			color: $strong-color-2;
			border-bottom: 0.0625rem solid $border-color;
		}
		& input {
			padding: 0.032rem;
			border: 0.0626rem solid $border-color;
			border-radius: 0.32rem;
			&:focus {
				border-color: $active-input-border-1;
				outline: 0.0625rem solid $active-input-border-1;
			}
			&.valid {
				border-color: $succes-color;
				outline: 0.0625rem solid $succes-color;
			}
			&.not-valid {
				border-color: $error-color;
				outline: 0.0625rem solid $error-color;
			}
			&::placeholder {
				font-family: inherit;
			}
		}
		& span {
			font-size: 0.0625rem;
		}

		& button {
			transition: all 0.3s ease;
			border: 0.0625rem solid $btn-border;
			border-radius: 0.31rem;
			width: 100%;
			padding: 0.5rem 0.5rem;
			color: $strong-color-2;
			background-color: $btn-bk-color-1;
			font-size: 1.25rem;
			@media (any-hover: hover) {
				&:hover {
					background-color: #f47120;
				}
			}
			&:active {
				background-color: $btn-bk-color-1;
			}
		}
		& .input-wrapper {
			display: flex;
			flex-direction: column;
			gap: 0.625rem;
		}
		& .buttons-wrapper {
			display: flex;
			gap: 1.25rem;
		}
		& .result-err {
			font-weight: 300;
			color: $error-color;
			font-size: 0.8rem;
			line-height: 1.5;
			border-radius: 0.31rem;
			background-color: $bk-error-color;
		}
		& span.result-input {
			font-size: 0.75rem;
			color: $error-color;
			position: relative;
			display: inline;
			padding: 0.31rem;
			border-radius: 0.125rem;
			top: -0.31rem;
			transition: all 0.3s ease;
			background-color: $bk-error-color;
			font-weight: 300;
		}
	}
}
