.infoPage {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	& > .input-student-wrap {
		display: flex;
		gap: 1.25rem;
		@media (max-width: 1250px) {
			gap: 0.7rem;
		}
		& > label {
			align-self: center;
			min-width: 200px;
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 150%;
			@media (max-width: 1250px) {
				font-size: 1.25rem;
				min-width: 12.25rem;
			}
		}
		& > input {
			background-color: $aside-bk-color-1;
			border-radius: 0.62rem;
			padding: 0.62rem;
			font-size: 1.5rem;
			font-weight: 500;
			flex-grow: 1;
		}
	}
	& > .buttons-wrapper {
		display: flex;
		gap: 1.5rem;
		justify-content: flex-end;
		& .button-save-info,
		.delete-ctudent {
			padding: 0.32rem 1.5rem;
			border-radius: 0.625rem;
			font-size: 1.375rem;
			transition: all 0.2s;
		}
		.delete-ctudent {
			background-color: $error-color;
			color: $base-background-3;
		}
		.button-save-info {
			background-color: $active-link;
		}
		.delete-ctudent,
		.button-save-info {
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 1;
			}
		}
	}
	& > .successfull-update {
		display: flex;
		align-items: center;
		gap: 0.625rem;
		&::before {
			content: "";
			width: 1.5rem;
			height: 1.5rem;
			background: url("../img/success.svg") 0 0 / cover no-repeat;
		}
		&.show-update {
			right: 5%;
			opacity: 1;
			transition: all 0.4s ease;
		}
		transition: all 0.4s ease;
		position: absolute;
		opacity: 0;
		top: 5%;
		right: -100%;
		padding: 1.95rem 3.1rem;
		border-radius: 0.625rem;
		background-color: $base-background-3;
		border: 0.0625rem solid $succes-color;
	}
	& > .popup-delete-stud {
		&.active-popup {
			left: 0;
		}
		transition: all 0.3s ease;
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $aside-bk-color-2;
		opacity: 0.9;
		& > div {
			background-color: $base-background-1;
			border-radius: 0.625rem;
			padding: 1.95rem;
			display: flex;
			flex-direction: column;
			gap: 1.95rem;
			& > div:first-child {
				color: $strong-color-1;
				font-size: 1.6rem;
				line-height: 140%;
				font-weight: 500;
			}
			& > div:last-child {
				display: flex;
				gap: 1.25rem;
				justify-content: flex-end;
				& button {
					padding: 0.5rem 1rem;
					font-size: 1.25rem;
					color: $aside-bk-color-1;
					border-radius: 0.625rem;
					transition: all 0.3s ease;
					&:first-child {
						background-color: $error-color;
					}
					&:last-child {
						background-color: $strong-color-2;
					}
					&:first-child,
					&:last-child {
						&:hover {
							opacity: 0.8;
						}
						&:active {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
