.users-block {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	max-height: 80vh;
	overflow-x: scroll;
	border-right: 0.0625rem solid $border-color;
	padding: 0.3rem;
	max-width: 15.6rem;
	min-width: 13rem;
	flex-grow: 1;
	@media (max-width: 1250px) {
	}
	& > .wrap-students {
		margin-bottom: 0.7rem;
		& > .one-stud {
			padding: 0.7rem;
			font-size: 1.2rem;
			background-color: $aside-bk-color-1;
			font-weight: 500;
			letter-spacing: 0.06rem;
			transition: all 0.3s ease;
			cursor: pointer;
			&:hover {
				background-color: $aside-bk-color-2;
			}
			&.active-stude {
				background-color: $active-link;
			}
		}
	}
	& > .wrap-buttons-stud {
		display: flex;
		gap: 0.3rem;
		& .button-cancel-add-student {
			transition: all 0.2s ease;
			opacity: 0;
			display: none;
			&.show-btn {
				display: block;
				opacity: 1;
			}
		}
		& .button-add-student,
		.button-cancel-add-student {
			text-transform: capitalize;
			border: 0.062rem solid $border-color;
			padding: 0.3rem 0.6rem;
			font-weight: 500;
			transition: all 0.3s ease;
			background-color: $btn-bk-color-2;
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 1;
			}
		}
	}
	& .input-add-stud {
		& .check-stud {
			padding: 0.3rem;
			background-color: $btn-bk-color-1;
		}
		& input {
			padding: 0.3rem 0.6rem;
			border: 0.062rem solid $border-color;
			&:focus {
				outline: none;
			}
		}
		& > button {
			background-color: $btn-bk-color-1;
			transition: all 0.2s ease;
			&:hover {
				opacity: 0.8;
			}
			&:active {
				opacity: 1;
			}
		}
		display: flex;
	}
}
