
@import "./null";
@import "./colors";
@import "./auth";
@import "./aside";
@import "./header";
@import "./users-block";
@import "./data-students";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600");

body {
	font-family: "Poppins", sans-serif;
	color: $text-color-1;
	display: flex;
}
.wrapper {
	flex-grow: 1;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	display: flex;
	position: relative;
	& .login-spinner {
		transition: all 0.1s ease;
		&.active {
			right: 5%;
		}
		position: absolute;
		bottom: 5%;
		right: -100%;
		z-index: 4;
		padding: 1rem;
		border-radius: 0.7rem;
		background-color: $base-background-3;
		color: $succes-color;
		border: 0.07rem solid $succes-color;
		box-shadow: 0.2rem 0.2rem 0.2rem $aside-bk-color-2;
	}
}
.main-wrapper {
	position: relative;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	overflow: hidden;
	color: $text-color-1;
	background-color: $base-background-1;
	display: flex;
}

.main-content {
	padding: 2.2rem;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	flex-grow: 1;
	background-color: $base-background-1;
	@media (max-width: 1250px) {
		padding: 1.3rem;
	}
	@media (max-width: 1050px) {
		padding: 0.7rem;
	}
}
.users-content {
	height: 100%;
	display: flex;
}
.users-info {
	padding: 1.2rem;
	overflow-x: auto;
	max-height: 80vh;
	flex-grow: 1;
}
